%div{ class: "container" }
  %div{ class: "text-center bottom-margin" }

    %h2
      Demo app: Ruby on Rails + PostgreSQL

    %h4
      Resources:

    %p
      = link_to 'Products', products_path, class: "btn btn-info"
      = link_to 'Orders', orders_path, class: "btn btn-warning"
      = link_to 'Reports', reports_path, class: 'btn btn-danger'
