%div{ class: "container" }
  %div{ class: "text-center bottom-margin" }
    %h1
      Products
    = link_to "Add new product", new_product_path, class: "btn btn-success"

  %div{ class: "text-left" }
    = render "product_summary_filter_form", categories: @categories

  %div{ class: "row" }
    %div{ class: "col-xl" }
      %table{ class: "table table-striped" }
        %tr
          %th
            ID
          %th
            Product Name
          %th
            Category Name
          %th
            Supplier Company
          %th{class: "text-center" }
            Actions
        - @products.each do |product|
          = render "product_summary", product: product

